<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my_org.flutter_godot_widget">

    <application>
        <!-- WrappedFragmentActivity Tanımlaması -->
        <activity android:name="com.my_org.flutter_godot_widget.WrappedFragmentActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
